@import url(https://fonts.googleapis.com/css?family=Acme);

body {
  font: 14px Acme, sans-serif;
  margin: 20px;
  text-align: center;
}

/* Width */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: black; 
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #555; 
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: lightgreen; 
}

ol, ul {
  padding-left: 7px;
  padding-top: 3px;
  margin: 0px;
  list-style-type: none;
  overflow-y: scroll;
  height: 230px;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.game-board {
  display: flex;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin: 10px;
}

.square {
  background: #ccc;
  border: 1px solid #999;
  float: left;
  font-family: ChessMedium, Acme;
  font-size: 30px;
  font-weight: bold;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  line-height: 40px;
  height: 40px;
  width: 40px;
}

.black_square {
  background: #cc6600;
}

.white_square {
  background: #ffcc80;
}

.black_piece {
  color: #000;
}

.white_piece {
  color: #fff;
}

.rotate {
  -webkit-transform: rotate(180deg);
}

.highlight {
  border: 3px solid #00ff00;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.panel {
  display: flex;
  flex-flow: column;
  background: black;
  color: lightgreen;
  padding: 4px;
}

.black {
  display: flex;
  -webkit-transform: rotate(180deg);
}

.white {
  display: flex;
}

.mono-font {
  font-family: "Courier New", Courier, monospace;
  font-size: 9px;
}

.panel-button {
  background: black;
  color: green;
  font-size: 10px;
}

.panel-button:hover {
  background: lightgreen;
  color: black;
}

.bold {
  font-weight: bold;
  color: lightgreen;
}

